.add{
    position: relative;
    justify-content: center;
    display:flex;
    margin-top: 2%;
    width: 100%;
    align-items: center;
    width: 100%;
}

.form{
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto auto;
    width: 80%;
    display: flex;
    padding-top: 2%;
}




 
  h1{
    color:white;
    margin-top: 2em;
  }
  p{
    color:white;
  }
 
  .stati{
    background: #fff;
    height: 6em;
    padding:1em;
    margin:1em 0; 
      -webkit-transition: margin 0.5s ease,box-shadow 0.5s ease;
      transition: margin 0.5s ease,box-shadow 0.5s ease; 
    -moz-box-shadow:0px 0.2em 0.4em rgb(0, 0, 0,0.8);
  -webkit-box-shadow:0px 0.2em 0.4em rgb(0, 0, 0,0.8);
  box-shadow:0px 0.2em 0.4em rgb(0, 0, 0,0.8);
  }
  .stati:hover{ 
    margin-top:0.5em;  
    -moz-box-shadow:0px 0.4em 0.5em rgb(0, 0, 0,0.8); 
  -webkit-box-shadow:0px 0.4em 0.5em rgb(0, 0, 0,0.8); 
  box-shadow:0px 0.4em 0.5em rgb(0, 0, 0,0.8); 
  }
  .stati i{
    font-size:3.5em; 
  } 
  .stati div{
    width: calc(100% - 3.5em);
    display: block;
    float:right;
    text-align:right;
  }
  .stati div b {
    font-size:1.2em;
    width: 100%;
    padding-top:0px;
    margin-top:-0.2em;
    margin-bottom:-0.2em;
    display: block;
  }
  .stati div span {
    font-size:1em;
    width: 100%;
    color: rgb(0, 0, 0,0.8);
    display: block;
  }
  
  .stati.left div{ 
    float:left;
    text-align:left;
  }
  

 
  .stati.amethyst { color: rgb(155, 89, 182); } 
  
    .row{
        display: flex;
        justify-content: center;
    }
  
    .stats{
        justify-items: center;
        margin: auto auto;
        margin-top: 10%;
        
    }
  

  
  
  
  
  
  a{
    font-style: italic;
    font-weight: bolder;
 
    text-decoration: underline;
    color: blueviolet;

  }
  
  
  
  
  
  
  
  
  
  