<clash-grid [title]="'Players'"
            [primaryKey]="'Id'"
            [columns]="columns"
            [dataService]="playerService"
></clash-grid>
<!--@Input() title: string = '';-->
<!--@Input() columns: IColumn[] = [];-->
<!--@Input() primaryKey: string = '';-->
<!--@Input() detailPage: string = ''-->
<!--@Input() showToolbar: boolean = true;-->
<!--@ViewChild('dt') table!: Table;-->

<!--@Input() dataService!: CrudService<any>;-->
<!--  @Input() adminUser: boolean = false;-->
<!--  @Input() customData: any[] = []-->
