<!-- <clash-grid [title]="'Cards'"
            [dataService]="cardService"
            [columns]="cardColumns"
            [primaryKey]="'Id'"
            [itemParsingFunction]="itemParsingFunction"
>
</clash-grid> -->


<div class="main">
    <h2>{{items[currIndex].name}}</h2>

    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
<div class = "card ">
   
    <img src = {{items[currIndex].imageUrl}}>
    <div class="card-content">
        <p>
            {{items[currIndex].description}}
        </p>
        
    </div>
</div>
<a class="next" (click)="plusSlides(1)">&#10095;</a>
</div>







