.true-icon{
  color: green;
  font-size: 1.5rem
}

.false-icon{
  color: red;
  font-size: 1.5rem
}

.column-header{
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}

.top-bar-item{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}
