
<div class="card flex justify-content-center">
    <p-accordion [multiple]="true" [activeIndex]="[]">
        <p-accordionTab header="Query 1">
            <p>
                <app-first-query></app-first-query>
            </p>
        </p-accordionTab>
        <p-accordionTab header="Query 2">
            <p>
               <app-second-query></app-second-query>
            </p>
        </p-accordionTab>
        <p-accordionTab header="Query 3">
            <p>
                <app-third-query></app-third-query>
            </p>
        </p-accordionTab>

        <p-accordionTab header="Query 4">
            <p>
                <app-fourth-query></app-fourth-query>
            </p>
        </p-accordionTab>

        <p-accordionTab header="Query 5">
            <p>
                <app-fifth-query></app-fifth-query>
            </p>
        </p-accordionTab>

        <p-accordionTab header="Query 6">
            <p>
                <app-sixth-query></app-sixth-query>
            </p>
        </p-accordionTab>
    </p-accordion>
</div>