
<div class="card flex justify-content-center">
    <p-accordion [multiple]="true" [activeIndex]="[]">
        <p-accordionTab header="Conocer los mejores jugadores que participan en una guerra">
            <p>
                <app-first-query></app-first-query>
            </p>
        </p-accordionTab>
        <p-accordionTab header="Conocer el clan con mejor desempeño durante las guerras por región del mundo">
            <p>
               <app-second-query></app-second-query>
            </p>
        </p-accordionTab>
        <p-accordionTab header=" La carta o las cartas más donadas por región en el último mes.">
            <p>
                <app-third-query></app-third-query>
            </p>
        </p-accordionTab>

        <p-accordionTab header="La carta más popular de cada tipo dentro de cada clan existente. ">
            <p>
                <app-fourth-query></app-fourth-query>
            </p>
        </p-accordionTab>

        <p-accordionTab header="Dado un jugador saber a qué clanes se puede unir">
            <p>
                <app-fifth-query></app-fifth-query>
            </p>
        </p-accordionTab>

        <p-accordionTab header="Los desafíos donde haya participado al menos un jugador que lo haya completado.">
            <p>
                <app-sixth-query></app-sixth-query>
            </p>
        </p-accordionTab>
    </p-accordion>
</div>