
<div class="card flex justify-content-center">
    <p-accordion [multiple]="true" [activeIndex]="[]">
        <p-accordionTab header="Best players that participate in a war per clan">
            <p>
                <app-first-query></app-first-query>
            </p>
        </p-accordionTab>
        <p-accordionTab header="Clan with best performance during the wars per region">
            <p>
               <app-second-query></app-second-query>
            </p>
        </p-accordionTab>
        <p-accordionTab header=" Card/s donated the most per region in the last month">
            <p>
                <app-third-query></app-third-query>
            </p>
        </p-accordionTab>

        <p-accordionTab header="Most popular card of each type in each clan ">
            <p>
                <app-fourth-query></app-fourth-query>
            </p>
        </p-accordionTab>

        <p-accordionTab header="Given a player, know which clans he/she can join">
            <p>
                <app-fifth-query></app-fifth-query>
            </p>
        </p-accordionTab>

        <p-accordionTab header="Challenges that at least one player has completed.">
            <p>
                <app-sixth-query></app-sixth-query>
            </p>
        </p-accordionTab>
    </p-accordion>
</div>