<aside class="sidebar">
    <div class="logo">
      <!-- <img src="images/logo.jpg" alt="logo"> -->
      <h2>CodingNepal</h2>
    </div>
    <ul class="links">
      <h4>Main Menu</h4>
      <li>
        <span class="material-symbols-outlined">dashboard</span>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <span class="material-symbols-outlined">show_chart</span>
        <a href="#">Revenue</a>
      </li>
      <li>
        <span class="material-symbols-outlined">flag</span>
        <a href="#">Reports</a>
      </li>
      <hr>
      <h4>Advanced</h4>
      <li>
        <span class="material-symbols-outlined">person</span>
        <a href="#">Designer</a>
      </li>
      <li>
        <span class="material-symbols-outlined">group</span>
        <a href="#">Developer </a>
      </li>
      <li>
        <span class="material-symbols-outlined">ambient_screen</span>
        <a href="#">Magic Build</a>
      </li>
      <li>
        <span class="material-symbols-outlined">pacemaker</span>
        <a href="#">Theme Maker</a>
      </li>
      <li>
        <span class="material-symbols-outlined">monitoring</span>
        <a href="#">Analytic</a>
      </li>
      <hr>
      <h4>Account</h4>
      <li>
        <span class="material-symbols-outlined">bar_chart</span>
        <a href="#">Overview</a>
      </li>
      <li>
        <span class="material-symbols-outlined">mail</span>
        <a href="#">Message</a>
      </li>
      <li>
        <span class="material-symbols-outlined">settings</span>
        <a href="#">Settings</a>
      </li>
      <li class="logout-link">
        <span class="material-symbols-outlined">logout</span>
        <a href="#">Logout</a>
      </li>
    </ul>
  </aside>