
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img [src] = "ImagePath" alt="">
        <div class="text">
          <span class="text-1">El juego que <br> nos une</span>
          <span class="text-2">Unete a nosotros</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" [src] = "ImagePath" alt="">
        <div class="text">
          <span class="text-1">Todas las estadisticas <br>en un solo lugar</span>
          <span class="text-2">Empecemos!</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Autenticarse</div>

            <!-- this form corresponds to LogInForm in the component -->

          <form action="#" method="post"  >
            <div class="input-boxes">
              <div class="input-box">
             
                <input type="text" placeholder="Nombre de usuario" required="true" [(ngModel)]="LogInForm.Username" name="username">
              </div>
              <div class="input-box">
               
                <input type="password" placeholder="Contraseña" required [(ngModel)]="LogInForm.Password" name="password">
              </div>
        
              <div class="button input-box">
                <button type="submit"  (click)="LogIn()">Aceptar</button>
              </div>
              <div class="text sign-up-text">No tiene cuenta? <label for="flip">Registrarse</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Registrarse</div>
        <form action="#">

            <div class="input-boxes">
              <div class="input-box">
               
                <input type="text" placeholder="Nombre de usuario" required [(ngModel)]="SignUpForm.Username" name="username">
              </div>
              <div class="input-box">

                <input type="password" placeholder="Contraseña" required [(ngModel)]="SignUpForm.Password" name="password" >
              </div>

              <div class="input-box">
                <input type="password" placeholder="Confirme su contraseña" required [(ngModel)]="SignUpForm.ConfirmPassword" name="ConfirmPassword">
              </div>
              <div class="button input-box">
                <button type="submit" (click)="SignUp()">Aceptar</button>
              </div>
              <div class="text sign-up-text">Ya tiene cuenta? <label for="flip">Autenticarse</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>

