<div class="padre">
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img [src] = "ImagePath" alt="">
        <div class="text">
          <span class="text-1">Clash Royale</span>
          <span class="text-2">Join Us</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" [src] = "ImagePath" alt="">
        <div class="text">
          <span class="text-1">Todas las estadisticas <br>en un solo lugar</span>
          <span class="text-2">Empecemos!</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Log In</div>

            <!-- this form corresponds to LogInForm in the component -->

          <form action="#" method="post"  >
            <div class="input-boxes">
              <div class="input-box">
             
                <input type="text" placeholder="Username" required="true" [(ngModel)]="LogInForm.Username" name="username">
              </div>
              <div class="input-box">
               
                <input type="password" placeholder="Password" required [(ngModel)]="LogInForm.Password" name="password">
              </div>
        
              <div class="button input-box">
                <button type="submit"  (click)="LogIn()">Submit</button>
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sign Up</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Sign Up</div>
        <form action="#">

            <div class="input-boxes">
              <div class="input-box">
               
                <input type="text" placeholder="Username" required [(ngModel)]="SignUpForm.Username" name="username">
              </div>
              <div class="input-box">

                <input type="password" placeholder="Password" required [(ngModel)]="SignUpForm.Password" name="password" >
              </div>

              <div class="input-box">
                <input type="password" placeholder="Confirm Password" required [(ngModel)]="SignUpForm.ConfirmPassword" name="ConfirmPassword">
              </div>
              <div class="button input-box">
                <button type="submit" (click)="SignUp()">Submit</button>
              </div>
              <div class="text sign-up-text">Already have an account? <label for="flip">Log In</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>
</div>

  <p-toast></p-toast>