.grid{
    width: 100%;
    display:flex;
    justify-content: center;
    height: 80%;
    margin-top: 2%;
}

.snd{
    padding-left: 5%;
   
    height: 100%;
    overflow-y: auto;
}

.fst{
   
    height: 100%;
    overflow-y:auto
}


.btn{
    display:flex;
    justify-content: center;

    transition: 0.5s ease-in;
}

.href:hover{
    cursor: pointer;
    //underline
    text-decoration: underline;
    color: blueviolet;
}