.grid{
    width: 100%;
    display:flex;
    justify-content: center;
    height: 80%;
    margin-top: 2%;
}

.snd{
    padding-left: 5%;
   
    height: 100%;
    overflow-y: auto;
}

.fst{
   
    height: 100%;
    overflow-y:auto
}


.btn{
    display:flex;
    justify-content: center;

    margin-top: 2%;
}

.href:hover{
    cursor: pointer;
    //underline
    text-decoration: underline;
    color: blueviolet;
}

.Pict{
    width: 30%;
}

.table{
    width: 60%;
   // overflow-x: auto;
    height: 80%;
    //overflow-y: auto;
}

.card{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

h2{
    justify-content: center;
    display: flex;
    margin-top: 2%;
    color: rgb(13, 84, 146);
}