<div class="container">
<div class="title">
    <!-- translate to english -->

    <h1> Welcome to the Clash Royale management system</h1>
</div>


<p-divider align ="center">
    <span class="p-tag" >About Us</span>
</p-divider>

<div class="text">
    <p>Clash Royale is an online strategy video game for mobile devices, created by the Finnish company Supercell. It was launched globally on March 2, 2016. It is a freemium real-time strategy video game based on the characters of Clash of Clans. It combines elements of collectible card games and tower defense.</p>
</div>

<p-divider align ="center">
    <span class="p-tag" >Game Developers </span>
</p-divider>

<div class="text">
    <p>Clash Royale was developed by Supercell, the company that created Clash of Clans, Boom Beach, and Hay Day. The game was soft-launched in Canada, Hong Kong, Australia, Sweden, Norway, Denmark, Iceland, Finland, and New Zealand for iOS on January 4, 2016. On March 2, 2016, the game was released worldwide on iOS and Android.</p>
</div>

<p-divider align ="center" [style]="{background: 'none'}">
    <span class="p-tag"  >How To Play </span>
</p-divider>

<div class="text">
    <p>The game combines elements of collectible card games, tower defense, and real-time strategy games. The game is played in real time, where players face each other online in one-on-one matches, with a maximum of 3 on each side, where the objective is to destroy the majority of the opponent's towers, with the destruction of the "King's Tower" granting an automatic victory. After three minutes, if both players have the same number of crowns or neither has destroyed a tower, a two-minute overtime occurs, and the player who destroys a tower instantly wins. After overtime, a tie is declared. In the game, players can form a clan, share cards, and play friendly battles with their clanmates.</p>
</div>

<p-divider align ="center">
    <span class="p-tag">Gallery</span>
</p-divider>

<p-galleria class="gall" [value]="images" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions" [containerStyle]="{ 'max-width': '640px' }">
    <ng-template pTemplate="item" let-item>
        <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
    </ng-template>
</p-galleria>

</div>
