p-galleria{
    margin-left: auto ;
    margin-right: auto;
    display: block;
    justify-content: center;
    // center the component
    width: 60%;
    height: 75%;
    // center the images
    
    
}

.container{
    padding: 5% 5% 5% 5%;
}

.title{
    width: 50% 50%
}
