p-galleria{
    margin-left: auto ;
    margin-right: auto;
    display: block;
    // center the component
    width: 75%;
    height: 75%;
    // center the images
    
<<<<<<< HEAD
    
}

.container{
    padding: 5% 5% 5% 5%;
}

.title{
    width: 50% 50%
}
=======
}
>>>>>>> 9ed41445899f4905c1e19e3c08e999e8e7fec0b0
