.add{
    position: relative;
    justify-content: center;
    display: flex;
    margin-top: 2%;
    width: 100%;
    align-items: center;
}

.form{
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto auto;
    width: 80%;
    display: flex;
    padding-top: 2%;
}