<div  class="add ">
  <p-button *ngIf="isAdmin || isUser" (click)="showAdd()" icon="pi pi-plus-circle" label="Add Clan"></p-button>
  <p-button *ngIf="isAdmin" (click)="showUpdate()" icon="pi pi-wrench" label="Update Clan"></p-button>
  <p-button *ngIf="isAdmin" (click)="showDelete()" icon="pi pi-trash" label="Delete Clan"></p-button>
  <p-button *ngIf="isAdmin" (click)="showAddPlayer()" icon="pi pi-user" label="Add Player to Clan"></p-button>
</div>

<div *ngIf="visibleAdd" class="container">
  <div class="row mt-2">
    <div *ngIf="isAdmin" class="col-3">
      <p-dropdown [(ngModel)]="playerAdd" [filter]="true" [options]="allPlayers" [showClear]="true" class="form"
                  filterBy="alias" optionLabel="alias" placeholder="Select a Leader">
        <ng-template pTemplate="selectedItem">
          <div *ngIf="playerAdd" class="flex align-items-center gap-2">

            <div>{{ playerAdd.alias }}</div>
          </div>
        </ng-template>
        <ng-template let-player pTemplate="item">
          <div class="flex align-items-center gap-2">

            <div>{{ player.id + "  " + player.alias }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </div>

    <span class="col-3">
        <input [(ngModel)]="nameAdd" pInputText placeholder="Name" type="text"/>
    </span>

    <span class="col-3">
        <input [(ngModel)]="descAdd" pInputText placeholder="Description" type="text"/>
    </span>

    <span class="col-3">
        <input [(ngModel)]="regionAdd" pInputText placeholder="Region" type="text"/>
    </span>

    <span class="mt-2 ms-5 col">
        <p-checkbox [(ngModel)]="openAdd" [binary]="true" inputId="binary" type="binary"></p-checkbox>
        <label for="binary">Type Open</label>
    </span>

    <span class="mt-2 col">
        <p-inputNumber [(ngModel)]="trophiesAdd" [min]="0" inputId="integeronly"
                       placeholder="Minimum Trophies"> </p-inputNumber>
    </span>

    <span class="mt-2 col">
        <p-inputNumber [(ngModel)]="trophWarAdd" [min]="0" inputId="integeronly"
                       placeholder="Trophies In War"> </p-inputNumber>
    </span>
  </div>


  <p-button (click)="Post()" [raised]="true" [rounded]="true" [text]="true" class="form" icon="pi pi-check"></p-button>

</div>

<div *ngIf="visibleUpdate" class="container">
  <div class="row mt-2">
    <div class="col-12 text-center">

    <p-dropdown [(ngModel)]="selectedUp" [filter]="true" [options]="allClans" [showClear]="true" class="col-12"
                filterBy="name" optionLabel="name" placeholder="Select a Clan">
      <ng-template pTemplate="selectedItem">
        <div *ngIf="selectedUp" class="flex align-items-center gap-2">

          <div>{{ selectedUp.name }}</div>
        </div>
      </ng-template>
      <ng-template let-clan pTemplate="item">
        <div class="flex align-items-center gap-2">

          <div>{{ clan.id + "  " + clan.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>
    </div>


    <span class="col-4 mt-2">
            <input [(ngModel)]="nameUp" pInputText placeholder="Name" type="text"/>
        </span>

    <span class="col-4 mt-2">
            <input [(ngModel)]="descUp" pInputText placeholder="Description" type="text"/>
        </span>

    <span class="col-4 mt-2">
            <input [(ngModel)]="regionUp" pInputText placeholder="Region" type="text"/>
        </span>

    <span class="col mt-2">
            <p-checkbox [(ngModel)]="openUp" [binary]="true" inputId="binary" type="binary"></p-checkbox>
            <label for="binary">Type Open</label>
        </span>

    <span class="col mt-2">
            <p-inputNumber [(ngModel)]="trophiesUp" [min]="0" inputId="integeronly"
                           placeholder="Minimum Trophies"> </p-inputNumber>
        </span>

    <span class="col mt-2">
            <p-inputNumber [(ngModel)]="trophWarUp" [min]="0" inputId="integeronly"
                           placeholder="Trophies In War"> </p-inputNumber>
        </span>
  </div>

    <p-button (click)="Update()" [raised]="true" [rounded]="true" [text]="true" class="form"
              icon="pi pi-check"></p-button>
</div>

<div *ngIf="visibleDelete">

  <p-dropdown [(ngModel)]="selectedDelete" [filter]="true" [options]="allClans" [showClear]="true" class="form"
              filterBy="name" optionLabel="name" placeholder="Select a Clan">
    <ng-template pTemplate="selectedItem">
      <div *ngIf="selectedDelete" class="flex align-items-center gap-2">

        <div>{{ selectedDelete.name }}</div>
      </div>
    </ng-template>
    <ng-template let-player pTemplate="item">
      <div class="flex align-items-center gap-2">

        <div>{{ player.id + "  " + player.name }}</div>
      </div>
    </ng-template>
  </p-dropdown>

  <p-button (click)="Delete()" [raised]="true" [rounded]="true" [text]="true" class="form"
            icon="pi pi-check"></p-button>
</div>

<div *ngIf="visiblePlayer">

  <p-dropdown [(ngModel)]="selectedClan" [filter]="true" [options]="allClans" [showClear]="true" class="form"
              filterBy="name" optionLabel="name" placeholder="Select a Clan">
    <ng-template pTemplate="selectedItem">
      <div *ngIf="selectedClan" class="flex align-items-center gap-2">

        <div>{{ selectedClan.name }}</div>
      </div>
    </ng-template>
    <ng-template let-player pTemplate="item">
      <div class="flex align-items-center gap-2">

        <div>{{ player.id + "  " + player.name }}</div>
      </div>
    </ng-template>
  </p-dropdown>

  <p-dropdown [(ngModel)]="selectedPlayer" [filter]="true" [options]="allPlayers" [showClear]="true" class="form"
              filterBy="alias" optionLabel="alias" placeholder="Select a Player">
    <ng-template pTemplate="selectedItem">
      <div *ngIf="selectedPlayer" class="flex align-items-center gap-2">

        <div>{{ selectedPlayer.alias }}</div>
      </div>
    </ng-template>
    <ng-template let-player pTemplate="item">
      <div class="flex align-items-center gap-2">

        <div>{{ player.id + "  " + player.alias }}</div>
      </div>
    </ng-template>
  </p-dropdown>

  <p-button (click)="AddPlayerToClan()" [raised]="true" [rounded]="true" [text]="true" class="form"
            icon="pi pi-check"></p-button>
</div>


<clash-grid #grid
            [columns]="clanColumns"
            [dataService]="clanService"
            [itemParsingFunction]="itemParsingFunction"
            [primaryKey]="'id'"
            [title]="'Clans'"
>
</clash-grid>
