<p-button (click)="Show()" icon="pi pi-plus-circle" class="add" label="Update Roles"></p-button>
<p-button (click)="ShowPass()" icon="pi pi-plus-lock" class="add" label="Update Password"></p-button>

<div class="row" *ngIf="showP">

    <p-dropdown class="col" *ngIf="show" class="form" [options]="allUsers" [(ngModel)]="selectedUserP" optionLabel="username" [filter]="true" filterBy="username" [showClear]="true" placeholder="Select a User">
        <ng-template pTemplate="selectedItem">
            <div class="flex align-items-center gap-2" *ngIf="selectedUserP">
                <div>{{ selectedUserP.username }}</div>
            </div>
        </ng-template>
        <ng-template let-user pTemplate="item">
            <div class="flex align-items-center gap-2">
                
                <div>{{ user.username }}</div>
            </div>
        </ng-template>
    </p-dropdown>
 
    <p-password class="col" [(ngModel)]="pass" [toggleMask]="true" [placeholder]="'Enter Password'"></p-password>
    <p-password class="col" [(ngModel)]="confPass" [feedback]="false" [toggleMask]="true" [placeholder]="'Confirm Password'"></p-password>
  
    </div>
    <p-button *ngIf="showP" (click)="ChangePassword()" [raised]="true" [rounded]="true" [text]="true" class="form"
              icon="pi pi-check"></p-button>



<p-dropdown *ngIf="show" class="form" [options]="allUsers" [(ngModel)]="selectedUser" optionLabel="username" [filter]="true" filterBy="username" [showClear]="true" placeholder="Select a User">
    <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="selectedUser">
            <div>{{ selectedUser.username }}</div>
        </div>
    </ng-template>
    <ng-template let-user pTemplate="item">
        <div class="flex align-items-center gap-2">
            
            <div>{{ user.username }}</div>
        </div>
    </ng-template>
</p-dropdown>

<p-dropdown  *ngIf="show" class="form" [options]="roles" [(ngModel)]="roleSelected" optionLabel="name" [showClear]="true" placeholder="Select a Role">
    <ng-template pTemplate="selectedItem">
        <div class="flex align-items-center gap-2" *ngIf="roleSelected">
            <div>{{ roleSelected.name }}</div>
        </div>
    </ng-template>
    <ng-template let-role pTemplate="item">
        <div class="flex align-items-center gap-2">
            <div>{{ role.name }}</div>
        </div>
    </ng-template>
</p-dropdown>

<p-button *ngIf="show" class="form" icon="pi pi-check" (click)="Update()" [rounded]="true" [text]="true" [raised]="true"></p-button>




<clash-grid #grid
 [title]="'Users'"
[dataService]="serv"
[columns]="columns"
[primaryKey]="'id'"
[itemParsingFunction]="itemParsingFunction"
>
</clash-grid>